<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Bienvenue sur notre site E-commerce{% endblock %}</title>
        {# Run `composer require symfony/webpack-encore-bundle`
           and uncomment the following Encore helpers to start using Symfony UX #}
        {% block stylesheets %}
            {#{{ encore_entry_link_tags('app') }}#}
            <link rel="stylesheet" href={{ asset("css/style.css")}}>
        {% endblock %}

        {% block javascripts %}
            {#{{ encore_entry_script_tags('app') }}#}
        {% endblock %}
    </head>
    
    <body>
    <header>
        <nav>
            <a href={{path('produit_index')}}>Produits</a>
            <a href={{path('panier_index')}}>Panier</a>
            <a href={{path('user_index')}}>Connexion</a>
        </nav>
    </header>
        {% block body %}{% endblock %}
    </body>
</html>
